AddressAndPortsScreen.ManagerAddress={{ addressandportsscreen_manageraddress }}
AddressAndPortsScreen.NewNode={{ addressandportsscreen_newnode }}
UpgradeVerificationScreen.Overwrite={{ upgradeverificationscreen_overwrite }}
LicenseScreen.License.-1={{ licensescreen_license }}
DatabaseScreen.DatabaseType={{ databasescreen_databasetype }}
DatabaseScreen.Hostname={{ databasescreen_hostname }}
DatabaseScreen.Transport={{ databasescreen_transport }}
DatabaseScreen.DatabaseName={{ databasescreen_databasename }}
DatabaseScreen.Username={{ databasescreen_username }}
DatabaseScreen.Password={{ databasescreen_password }}
AddressAndPortsScreen.ManagerPort={{ addressandportsscreen_managerport }}
AddressAndPortsScreen.HeartbeatPort={{ addressandportsscreen_heartbeatport }}
CredentialsScreen.Administrator.Username={{ credentialsscreen_administrator_username }}
CredentialsScreen.Administrator.Password={{ credentialsscreen_administrator_password }}
CredentialsScreen.UseStrongPasswords={{ credentialsscreen_usestrongpasswords }}
SecurityUpdateScreen.UpdateComponents={{ securityupdatescreen_updatecomponents }}
SecurityUpdateScreen.Proxy={{ securityupdatescreen_proxy }}
SecurityUpdateScreen.ProxyType={{ securityupdatescreen_proxytype }}
SecurityUpdateScreen.ProxyAddress={{ securityupdatescreen_proxyaddress }}
SecurityUpdateScreen.ProxyPort={{ securityupdatescreen_proxyport }}
SecurityUpdateScreen.ProxyAuthentication={{ securityupdatescreen_proxyauthentication }}
SecurityUpdateScreen.ProxyUsername={{ securityupdatescreen_proxyusername }}
SecurityUpdateScreen.ProxyPassword={{ securityupdatescreen_proxypassword }}
SoftwareUpdateScreen.UpdateSoftware={{ softwareupdatescreen_updatesoftware }}
SoftwareUpdateScreen.Proxy={{ softwareupdatescreen_proxy }}
SoftwareUpdateScreen.ProxyType={{ softwareupdatescreen_proxytype }}
SoftwareUpdateScreen.ProxyAddress={{ softwareupdatescreen_proxyaddress }}
SoftwareUpdateScreen.ProxyPort={{ softwareupdatescreen_proxyport }}
SoftwareUpdateScreen.ProxyAuthentication={{ softwareupdatescreen_proxyauthentication }}
SoftwareUpdateScreen.ProxyUsername={{ softwareupdatescreen_proxyusername }}
SoftwareUpdateScreen.ProxyPassword={{ softwareupdatescreen_proxypassword }}
SoftwareUpdateScreen.ProxyAuthentication={{ softwareupdatescreen_proxyauthentication }}
RelayScreen.Install={{ relayscreen_install }}
SmartProtectionNetworkScreen.EnableFeedback={{ smartprotectionnetworkscreen_enablefeedback }}
